*.log
mpv/scripts/*.so
CRUSH.md
.crush/
tmp/
pending/
tst/
tst
*-bckp
*.bckp
*.bk
# languages.toml
# *DS_Store
# ._.*
*.gz
*.old
# test.*
sketch.zsh
*dump
sizemap.txt
.zsh_sessions/
cache
default
default.zip
.envrc
.chpwd-recent-dirs
pure/
purer/
purity/
.ssh/
fast-syntax-highlighting/
zsh-*
*.trash
*.tst
# go.sum
# go.mod
.mk
go.work
*.key
*.keys
.note
*.og
main[0-9]
settings
*_go
bin/
keeps.md
todo.md
promo.md
.env
services/*/supervise
.secrets
dist/
helix/runtime/
