*.log
*.bak
bug.md
ble.sh/
**/mpv/scripts/*.so
CRUSH.md
.crush/
tmp/
pending/
tst/
tst
*-bckp
*.bckp
*-bckp[0-9]
*.bckp[0-9]
*.bk
# languages.toml
# *DS_Store
# ._.*
*.gz
*.old
# test.*
sketch.zsh
*dump
sizemap.txt
.zsh_sessions/
cache
default
default.zip
.envrc
.chpwd-recent-dirs
pure/
purer/
purity/
.ssh/
zsh-plugins/
bash-plugins/
*.trash
*.tst
# go.sum
# go.mod
.mk
go.work
*.key
*.keys
.note
*.og
main[0-9]
settings
*_go
bin/
keeps.md
todo.md
promo.md
.env
services/*/supervise
.secrets
dist/
services/brightness/.brightness
.config/helix/runtime/
!.config/helix/runtime/queries/go/**
!.config/helix/runtime/queries/python/**
!.config/helix/runtime/queries/markdown/**
.config/cheat/
!.config/cheat/cheatsheets/personal/**
!.config/cheat/conf.yml
!.config/cheat/README.md
*.changes
.zcompdump
.zcompcache
