[init]
	defaultBranch = main

[user]
	name  = kendfss
	email = k3ndfss@gmail.com

[alias]
    ignore  = update-index --assume-unchanged
    accept  = update-index --no-assume-unchanged
    ignored = !git ls-files -v | grep "^[[:lower:]]"
	lg      = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	rs      = reset HEAD~1 --soft
	restage = reset HEAD~1 --soft
	

[core]
	editor       = hx
    excludesfile = ~/.gitignore

[color "status"]
	changed   = yellow bold
	added     = green 
	untracked = red 

[http]
	cookiefile = ~/.gitcookies

[credential]
	helper = store
